
body{
    width: auto;
    height: auto;
    margin: 5px;
    padding:5px;
    overflow: auto;
    font-family: 'Raleway', sans-serif;
}

.topMenu{
width: auto;
height: 60px;

}
.logo{
    float: left;
    width: 120px;
    height: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 10px;
  }
  .navigation-bar{
    margin-left: 20px;
    margin-right: 20px;
  }
  .navigation-bar a {
    float: right;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 25px;
    padding-left: 10px;
  }
  .navigationText{
      font-size: 16px;
      text-decoration: none;
      font-style: normal;
      color:#0065FC;
      font-family: 'Raleway', sans-serif;
  }

  #textHighlight{
      font-weight: bold;
  }
  
  #textGray{
      color: #A9A9A9; /*Gray color for font not mentioned in requirements*/
  }
  
  .findSection{    
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
  }

  h3{
      font-size: 18px;
      font-weight: bold;
      color: #000000;
      padding-top: 6px;     
  }

  p {
      font-size: 12px;
      font-weight: 100;
      color: #000000;

  }

  .btnLocation{
      width: 35px;
      height: 40px;
      border: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
  }
.inputLocation{
    width: 175px;
    height: 37px;
    border-color: #efefef;
    border-top: none;
    border-left: none;
    border-width: 0.3px;
 }
 .btnSearch{
      width: 65px;
      height: 40px;
      border: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-left:none;
      background-color: #0065FC;
      color: #FFFFFF;
      font-weight: bold;

 }

 .searchBar{
    width: 100%;
    position: relative;
    display: flex;
   
 }
 
 .sortingButton{
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 20px;
    align-items: center;
 }

  h4{
      padding-top: 10px;
      padding-right: 20px;
  }
  

  /*Toggle*/

  .btnAction {
    position: relative;
    display: inline-block;
    margin-right: 80px;
    width: 60px;
    height: 34px;
  }
  
  .btnAction input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    width: 120px;
    height: 40px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    border-color: #EFEFEF; 
    border-width: 0.3px;
    border-style: solid;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    height: 39px;
    width: 39px;
    background-color:  #DEEBFF;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #FFFFFF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 0.5px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
  }
  

  .slider.round {
    border-radius: 34px;
    margin-right: 10px;
  }
  
  .slider.round:before {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #0065FC;
    font-size: 18px;
  }
  .slider.round.lowcost:before {
    font-family: "FontAwesome";
    content:'\f53a';
   }

  .slider.round.familyfriendly:before {
    font-family: "FontAwesome";
    content:'\f183';
    align-items: center;
   }

  .slider.round.romantic:before {
    font-family: "FontAwesome";
    content:'\f004';
   }
   .slider.round.pets:before {
    font-family: "FontAwesome";
    content:'\f6d3';
   }
  
  .filterSection{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .infoSection{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    display: flex;
    position: relative;
    padding-right: 10px;
    
  }

  .info{
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-color: #EFEFEF;
    border-width: 0.3px;
    border-style: solid;
    border-radius: 60%;
    color: #0065FC;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #infoParagraph{
    padding-left: 10px;
  }

  .accomodationSection{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
    position: relative;
    display: flex;

  }

  .containerLeft{
    width: 750px;
    height: 400px;
    margin-right: 50px;
    border-radius: 20px;
    background-color: #EFEFEF;
    
  }

  #productOfferText{
   padding-left: 35px;
   padding-right: 35px;
   text-align: left;
  }

  .containerRight{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-color: #EFEFEF;
    
  }
 
  .activitiesSection{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
      
  }

  .containerColumns{
    position: relative;
    display: flex;
  }

  .column{
  width: 310px;
  height: 320px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  }

  .marginFixing{
    margin-right: 0px;
  }

  .innerProductsOne{
    width: 310px;
    height: 159px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-bottom: 23px;
    background-color:  royalblue;

  }

  .innerProductsTwo{
    width: 310px;
    height: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-bottom: 23px;
    background-color:  royalblue ;

  }

  .innerProductsThree{
    width: 310px;
    height: 139px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-bottom: 23px;
    background-color: royalblue;

  }


  .innerProductsFour{
    width: 310px;
    height: 137px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    background-color: royalblue;
  }

  footer{
    width: 100%;
    height: 200px;
    background-color: #EFEFEF;
    
  }

  .footerContent{
    display: flex;
    position: relative;
  }

  #ColumnOne{
  width: 310px;
  padding-left: 30px;
  text-align: left;
  }

  #ColumnTwo{
    width: 310px;
    padding-left: 30px;
    text-align: left;
  }

  #ColumnThree{
    width: 310px;
    padding-left: 30px;
    text-align: left;
  }